* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    .container {
        width: 1140px;
        margin: 0px auto;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            a {
                display: flex;
                text-decoration: none;
                color: black;
                align-items: center;
                img {
                    margin-right: 10px;
                    height: 40px;
                }
            }
        }
        .contact-info {
            ul {
                display: flex;
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin: 0 30px;
                    .contact-icon {
                        margin: 15px;
                        color: rgb(59, 156, 247);
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        background-color: rgb(59, 156, 247);
                        padding: 10px 55px;
                        border-radius: 50px;
                        transition: 0.5s;
                        &:hover {
                            background-color: rgb(12, 0, 82);
                        }
                    }
                }
            }
        }
    }
}

.nav {
    width: 100%;
    background-color: rgb(12, 0, 82);
    height: 50px;
    color: white;
    .container {
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        margin: 0 auto;
        .menu {
            ul {
                display: flex;
                li {
                    list-style: none;
                    margin: 0 30px;
                    a {
                        text-decoration: none;
                        color: white;
                        transition: 0.5s;
                        &:hover {
                            color: rgb(59, 156, 247);
                        }
                    }
                }
            }
        }
        .search {
            border: solid 1px rgba(128, 128, 128, 0.384);
            border-radius: 50px;
            padding: 10px 25px;
            input {
                border: none;
                background-color: rgb(12, 0, 82);
                outline: none;
                color: white;
            }
            a {
                i {
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }
}

.banner {
    img {
        width: 100%;
        height: auto;
    }
}

.feature {
    .container {
        width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: rgb(105, 105, 105);
        .left {
            margin: 30px 20px;
            h2 {
                color: rgb(12, 0, 82);
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
            .cards-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 190px;
                    height: 200px;
                    margin-bottom: 3px;
                    background-color: rgba(240, 240, 240, 0.692);
                    transition: 0.5s;
                    cursor: pointer;
                    i {
                        color: rgb(12, 0, 82);
                        padding: 5px 0;
                    }
                    h3 {
                        color: rgb(12, 0, 82);
                        padding: 5px 0;
                    }
                    p {
                        text-align: center;
                        padding: 5px 0;
                    }
                    &:hover {
                        background-color: rgb(59, 156, 247);
                        color: white;
                        border-radius: 10px;
                        h3 {
                            color: white;
                        }
                        i {
                            color: white;
                        }
                    }
                }
            }
        }
        .right {
            margin: 30px 20px;
            padding: 10px;
            border: 1px solid rgb(135, 145, 190);
            img {
                width: 100%;
            }
            h3 {
                margin: 10px 0;
            }
            p {
                margin-bottom: 20px;
            }
            button {
                background-color: rgb(59, 156, 247);
                cursor: pointer;
                color: white;
                border-radius: 50px;
                border: none;
                padding: 10px 20px;
                transition: 0.5s;
                &:hover {
                    background-color: rgb(12, 0, 82);
                }
            }
        }
    }
}

.guidance {
    max-height: 120px;
    overflow: hidden;
    background-color: rgb(59, 156, 247);
    position: relative;
    margin-bottom: 30px;
    h2 {
        position: absolute;
        color: white;
        top: 35%;
        left: 35%;
    }
    img {
        width: 100%;
        opacity: 0.5;
    }
}

.service {
    width: 100%;
    color: rgb(105, 105, 105);
    .container {
        width: 900px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        .container-top {
            text-align: center;
            h2 {
                color: rgb(12, 0, 82);
            }
        }
        .container-bottom {
            text-align: center;
            .cards-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .card {
                    margin: 30px 0;
                    width: 280px;
                    transition: 0.5s;
                    padding: 20px 0;
                    cursor: pointer;
                    i {
                        color: rgb(12, 0, 82);
                        margin: 10px 0;
                    }
                    h3 {
                        color: rgb(12, 0, 82);
                        margin: 10px 0;
                    }
                    &:hover {
                        background-color: rgb(59, 156, 247);
                        color: white;
                        border-radius: 10px;
                        h3 {
                            color: white;
                        }
                        i {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.project {
    width: 100%;
    text-align: center;
    margin: 50px 0;
    color: rgb(105, 105, 105);
    h2 {
        color: rgb(12, 0, 82);
    }
    img {
        margin-top: 50px;
        width: 100%;
    }
}

.recent-blog {
    width: 100%;
    .container {
        width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(105, 105, 105);
        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                color: rgb(12, 0, 82);
            }
            span {
                text-align: center;
                margin-bottom: 50px;
            }
        }
        .bottom {
            .cards {
                display: flex;
                justify-content: space-between;
                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: solid 1px rgb(163, 202, 207);
                    width: 252px;
                    margin: 0 10px;
                    text-align: center;
                    box-shadow: 5px 10px 10px black;
                    padding-bottom: 30px;
                    transition: 0.5s;
                    cursor: pointer;
                    img {
                        width: 250px;
                    }
                    h4 {
                        margin: 30px 0 20px 0;
                        color: rgb(12, 0, 82);
                    }
                    button {
                        border: none;
                        margin-top: 10px;
                        background-color: rgb(59, 156, 247);
                        padding: 10px 30px;
                        border-radius: 30px;
                        color: white;
                        cursor: pointer;
                        transition: 0.5s;
                        &:hover {
                            background-color: rgb(12, 0, 82);
                        }
                    }
                    &:hover {
                        background-color: rgb(219, 219, 219);
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: gray;
    margin-top: 50px;
    color: rgb(58, 58, 58);
    .container {
        width: 1140px;
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        justify-content: space-around;
        .logo {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                margin-right: 10px;
            }
            span {
                font-size: 30px;
                font-weight: bold;
            }
        }
        .info {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .phone {
                margin: 0 20px;
            }
            .mail {
                margin: 0 20px;
            }
            .address {
                margin: 0 20px;
            }
        }
    }
    hr {
        border: solid 1px rgb(102, 102, 102);
    }
    p {
        text-align: center;
        padding: 20px 0;
    }
}